$bg: #1C1C1E;
$tooltip-bg: #2A2A2AE5;
$track-bg: #1D1D1F;
$bt-bg: #454540;
$border-color: #747474;
$header-color: #AEAC7E;
$gray-light: #676767;
$track-gradient: linear-gradient(180deg, #FFD100, #997D00);
$yellow: #FFD100;
$white: #fff;
$black: #000;
$accent: #F8AA31;
