@use "variables" as *;
@use "reset";
@use "range";

body {
  background: $bg;
  font-family: Arial, sans-serif;
  color: $white;
  padding: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 80px;

  p {
    height: 72px;
    width: 100%;
    font-size: 16px;
  }
}

.tanks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;

  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.tank-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  cursor: pointer;
  max-width: 260px;

  img {
    width: 100%;
    height: auto;
  }
}

// .tooltip__arrow::after {
//   content: '';
// position: absolute;
//   left: 42px;
//   bottom: -1px;
//   width: 26px;
//   height: 1px;
//   background: rgba(42, 42, 42, 0.8980392157);
// }

.tooltip.fullscreen {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  z-index: 9999;
}
.tooltip__close { 
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 28px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  border: 1px solid #747474;
  width: 672px;
  visibility: hidden;


  z-index: 1000;

  &.visible {
   visibility: visible;
   transition: visibility 0.3s ease-in-out;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    gap: 39px;
  }

  &__tank-info {
    display: flex;
    flex-direction: column;
    gap: 38px
  }

  &__experience_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 208px;
  }

  h4 {
    font-size: 28px;
    font-style: bold;
    color: #AEAC7E;
  }
}

.tooltip__config-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tooltip__config-options label {
  font-size: 18px;
  color: #ADADAD;
  cursor: pointer;
  display: flex;
  gap: 8px;
}

.exp-group {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;

  &__count-exp {
    display: flex;
    flex-direction: row;
    gap: 48px;

    span {
      color: #F8AA31;
      font-size: 56px;
      font-weight: 700;
    }
  }

  &__xp-icon {
    width: 66px;
    height: 66px;
  }
}

.tooltip__arrow {
  position: absolute;
  bottom: -28px;
  rotate: 180deg;
  left: 40px; // динамически заменяешь через JS
  pointer-events: none;
  z-index: -5;
  fill: $tooltip-bg;
  stroke: #747474;
}

.tooltip__wrapper {
  background: $tooltip-bg;
  padding: 40px;
  position: relative;
  z-index: 2000;
  backdrop-filter: blur(6px);
}

.tooltip__group {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

input[type="number"].invalid {
  border: 2px solid $accent;
}

.tooltip__xp-value {
  font-size: 36px;
  color: $yellow;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  border: none;

  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  accent-color: #676767;
  background-color: #DDDDDD;

  cursor: pointer;
}

input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  inset: 4px;
  background: #676767;
  border-radius: 50%;
}