@use "variables" as *;
@use "reset";
@use "range";

body {
  background: $bg;
  font-family: Arial, sans-serif;
  color: $white;
  padding: 40px;

  @media (max-width: 800px) {
    padding: 20px 30px;

  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 80px;

  p {
    height: fit-content;
    width: 100%;
    font-size: 16px;
  }
}

.tanks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 80px;

  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.tank-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  cursor: pointer;
  max-width: 260px;

  img {
    width: 100%;
    height: auto;
  }
}

// .tooltip__arrow::after {
//   content: '';
// position: absolute;
//   left: 42px;
//   bottom: -1px;
//   width: 26px;
//   height: 1px;
//   background: rgba(42, 42, 42, 0.8980392157);
// }

.tooltip.fullscreen {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  z-index: 9999;
}

.tooltip__mobile-title {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 28px;
    font-weight: 700;
    color: #B9B9B9;
  }

  @media (max-width: 800px) {
    display: flex;
  }
}

.tooltip__close {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #454540;
  border: none;
  cursor: pointer;
  height: 36px;
  width: 36px;
  padding: 8px;
  border-radius: 4px;
}

.tooltip {
  position: absolute;
  border: 1px solid #747474;
  width: 672px;
  visibility: hidden;

  z-index: 1000;

  &.visible {
    visibility: visible;
    transition: visibility 0.3s ease-in-out;
  }

  // @media (max-width: 750px) {
  //   width: fit-content;
  // }

  &__inner {
    display: flex;
    flex-direction: row;
    gap: 39px;

    @media (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }

  &__tank-info {
    display: flex;
    flex-direction: column;
    gap: 38px;

    @media (max-width: 800px) {
      align-items: center;
    }

    @media (max-width: 600px) {
      gap: 32px;
      width: 100%;
    }
  }

  &__experience_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 208px;

    @media (max-width: 800px) {
      flex-direction: column-reverse;
      gap: 30px;
      width: 100%;
      align-items: center;
    }
  }

  h4 {
    font-size: 28px;
    color: #AEAC7E;

    @media (max-width: 600px) {
      font-size: 22px;
    }
  }
}

.tooltip__config-options {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 800px) {
    flex-direction: row;
  }

  @media (max-width: 600px) {
    gap: 10px;
  }
}

.tooltip__config-options label {
  font-size: 18px;
  color: #ADADAD;
  cursor: pointer;
  display: flex;
  gap: 8px;

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    min-width: 110px;
  }

  @media (max-width: 600px) {
    font-size: 12px;
    min-width: 80px;
  }
}

.exp-group {
  display: flex;
  flex-direction: column;
  gap: 28px;


  &__count-exp {
    display: flex;
    flex-direction: row;
    gap: 48px;

    span {
      color: #F8AA31;
      font-size: 56px;
      font-weight: 700;

      @media (max-width: 600px) {
        font-size: 40px;
      }
    }

    @media (max-width: 600px) {
      gap: 32px;
    }
  }

  &__xp-icon {
    width: 66px;
    height: 66px;

    @media (max-width: 600px) {
      width: 46px;
      height: 46px;
    }
  }

  @media (max-width: 800px) {
    align-items: center;
    padding-top: 26px;
    border: 1px solid transparent;
    border-width: 1px 0 0 0;
    border-image: linear-gradient(90deg, rgba(102, 102, 102, 0) 0%, #666666 51%, rgba(102, 102, 102, 0) 100%) 1;
    width: 100%;

  }

  @media (max-width: 600px) {
    gap: 16px;
  }
}

.tooltip__arrow {
  position: absolute;
  bottom: -28px;
  rotate: 180deg;
  left: 40px; // динамически заменяешь через JS
  pointer-events: none;
  z-index: -5;
  fill: $tooltip-bg;
  stroke: #747474;
}

.tooltip__wrapper {
  background: $tooltip-bg;
  padding: 40px;
  position: relative;
  z-index: 2000;
  backdrop-filter: blur(6px);

  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 20px;
    height: 100vh;
  }
}

.tooltip__group {
  display: flex;
  flex-direction: column;
  gap: 22px;

  @media (max-width: 800px) {
    align-items: center;
  }

  @media (max-width: 600px) {
    gap: 18px;
    align-items: center;
    width: 100%;
  }
}

input[type="number"].invalid {
  border: 2px solid $accent;
}

.tooltip__xp-value {
  font-size: 36px;
  color: $yellow;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  border: none;

  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  accent-color: #676767;
  background-color: #DDDDDD;

  cursor: pointer;
}

input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  inset: 4px;
  background: #676767;
  border-radius: 50%;
}