.range {
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
  padding: 14px 22px;
  width: 345px;
  height: 57px;
  border-image: linear-gradient(to right, #727272, #252525);
  border: 1px solid transparent;
  border-radius: 4px;
  background: linear-gradient(180deg, #4F4F4F, #313131) padding-box,
    /* фон */
    linear-gradient(360deg, #252525, #727272) border-box;
}

/* ------------------------- */
/* ТРЕК (Chrome, Edge, Safari) */
/* ------------------------- */
.range::-webkit-slider-runnable-track {
  height: 13px;
  border-radius: 6px;
  background: #1D1D1F;
  border: 4px solid transparent;

  background-image:
    linear-gradient(180deg, #FFD100, #997D00),
    linear-gradient(#1D1D1F, #1D1D1F),
    linear-gradient(180deg, #262626, #303030);

  background-size: var(--progress, 0%) 100%, 100% 100%, 100% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat;

  background-origin: padding-box, padding-box, border-box;
  background-clip: padding-box, padding-box, border-box;
}

/* ------------------------- */
/*      ТРЕК (Firefox)       */
/* ------------------------- */

.range::-moz-range-track {
  height: 5px;

  border-radius: 6px;
  background: #1D1D1F;

  margin-left: -6px;
  border: 4px solid transparent;
  background:
    linear-gradient(#1D1D1F, #1D1D1F) padding-box,
    linear-gradient(180deg, #262626, #303030) border-box;
}

/* Firefox: заполнение слева */
.range::-moz-range-progress {
  height: 5px;
  width: 10px;
  border-radius: 6px;
  background: linear-gradient(180deg, #FFD100, #997D00);
}

/* === THUMB (ползунок) === */
/* ------------------------- */
/*     КРУЖОК (THUMB)        */
/* ------------------------- */

/* Chrome */
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 36px;
  height: 36px;
  background: url("/assets/icons/controller.png") no-repeat center/cover;
  margin-top: -15px;
  /* поднимаем кружок над треком */
  cursor: grab;
}

/* Chrome active */
.range::-webkit-slider-thumb:active {
  cursor: grabbing;
}

/* Firefox */
.range::-moz-range-thumb {
  width: 36px;
  height: 36px;
  background: url("/assets/icons/controller.png") no-repeat center/cover;
  border: none;
  cursor: grab;
}

.range-number {
  width: 128px;
  height: 48px;
  // background: linear-gradient(180deg, #4D4A3D, #6E653F);
  border: 4px solid #000000;
  border-radius: 4px;
  text-align: end;
  color: #A19D72;
  /* background: transparent; */
  font-size: 34px;
  font-weight: 700;
  // background-image: repeating-linear-gradient(-45deg, #4d4a3d00, #4d4a3d00 5px, #0000 5px, #000 6px);

   background-image:
    repeating-linear-gradient(
      -45deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 1px,
      rgba(0, 0, 0, 0) 1px,
      rgba(0, 0, 0, 0) 5px
    ),
    linear-gradient(180deg, #4D4A3D, #6E653F);

   box-shadow:
    inset 0px 4px 6px rgba(0, 0, 0, 0.5),
    0px 1px 1px rgba(52, 51, 55, 0.75);
}