@use "variables" as *;

.range {
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
  padding: 14px 22px;
  width: 345px;
  height: 57px;
  border-image: linear-gradient(to right, #727272, #252525);
  border: 1px solid transparent;
  border-radius: 4px;
  background: linear-gradient(180deg, #4F4F4F, #313131) padding-box,
    linear-gradient(360deg, #252525, #727272) border-box;

  @media (max-width: 600px) {
    max-width: 345px;
    width: 100%;
  }
}

/* ------------------------- */
/* TRACK (Chrome, Edge, Safari) */
/* ------------------------- */

.range::-webkit-slider-runnable-track {
  height: 13px;
  border-radius: 6px;
  background: $track-bg;
  border: 4px solid transparent;

  background-image:
    $track-gradient,
    linear-gradient($track-bg, $track-bg),
    linear-gradient(180deg, #262626, #303030);

  background-size: var(--progress, 0%) 100%, 100% 100%, 100% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat;

  background-origin: padding-box, padding-box, border-box;
  background-clip: padding-box, padding-box, border-box;
}

/* ------------------------- */
/*      TRACK (Firefox)       */
/* ------------------------- */

.range::-moz-range-track {
  height: 5px;

  border-radius: 6px;
  background: $track-bg;

  margin-left: -6px;
  border: 4px solid transparent;
  background:
    linear-gradient($track-bg, $track-bg) padding-box,
    linear-gradient(180deg, #262626, #303030) border-box;
}

/* Firefox: заполнение слева */
.range::-moz-range-progress {
  height: 5px;
  width: 10px;
  border-radius: 6px;
  background: $track-gradient;
}

/* ------------------------- */
/*          THUMB            */
/* ------------------------- */

/* Chrome */
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 36px;
  height: 36px;
  background: url("/assets/icons/controller.png") no-repeat center/cover;
  margin-top: -15px;
  cursor: grab;
}

/* Chrome active */
.range::-webkit-slider-thumb:active {
  cursor: grabbing;
}

/* Firefox */
.range::-moz-range-thumb {
  width: 36px;
  height: 36px;
  background: url("/assets/icons/controller.png") no-repeat center/cover;
  border: none;
  cursor: grab;
}

.range-number {
  width: 128px;
  height: 48px;
  border: 4px solid $black;
  border-radius: 4px;
  text-align: end;
  color: #A19D72;
  font-size: 34px;
  font-weight: 700;

  background-image:
    url('/assets/texture.png'),
    linear-gradient(180deg, #4D4A3D, #6E653F);

  box-shadow:
    inset 0px 4px 6px rgba(0, 0, 0, 0.5),
    0px 1px 1px rgba(52, 51, 55, 0.75);

}

.range-number:focus {
  border: 4px solid $accent;
  outline: none;
}
