/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Allow percentage-based heights */
html, body {
  height: 100%;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* Remove default list styling */
ul, ol {
  list-style: none;
  padding: 0;
}

/* Improve text rendering */
body {
  -webkit-font-smoothing: antialiased;
}

/* Make images easier to work with */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Remove underlines */
a {
  text-decoration: none;
  color: inherit;
}

button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}


input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  /*width: 100%; /* Specific width is required for Firefox. */
  /*background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  
  border-color: transparent;
  color: transparent;
}

/* Для браузеров на основе WebKit (Chrome, Safari, Opera) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для других браузеров */
input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}